html,body{
    margin: 0%;
    padding: 0%;
    background-color: grey;
    -webkit-box-shadow: inset 5px 5px 28px 14px rgba(0,0,0,0.56); 
    box-shadow: inset 5px 5px 28px 14px rgba(0,0,0,0.56);
}
/*dans le header*/
.logo {
    display: flex;
    margin-left: 48.9%;
    width: 75px;
    height: 100px;
    justify-items: center;
    justify-content: center;
}
.titre{
    text-align: center;
    background-color: gray;
    border-style: double;
    border-radius: 15px;
    font-size: 3em;
    -webkit-box-shadow: inset 5px 5px 28px 14px rgba(0,0,0,0.56); 
    box-shadow: inset 5px 5px 28px 14px rgba(0,0,0,0.56);
}
/*-------------------------------------------*/
