/* Fond du site */
html,body{
    margin: 0%;
    padding: 0%;
    background: rgb(46,106,106);
    background: -moz-linear-gradient(180deg, rgba(46,106,106,1) 0%, rgba(9,23,23,0) 76%);
    background: -webkit-linear-gradient(180deg, rgba(46,106,106,1) 0%, rgba(9,23,23,0) 76%);
    background: linear-gradient(180deg, rgba(46,106,106,1) 0%, rgba(9,23,23,0) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2e6a6a",endColorstr="#091717",GradientType=1);
    height: 100%;
}
/*dans le header*/
.header{
    display: flex;
}
.logo{
    width: 200px;
    height: 150px;
}
/*--------------fin----------------------------*/
/*---------------- Menu ( lien ) --------------------*/
.menu{
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: grey;
}
.lien1{
    text-decoration: none;
    font-size:3em;
    color: white;
}
a:hover{
    background-color: black;
    color: white;
}
/*------------fin------------------------------*/
/*------------Mail-----------------*/
.mail{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.mail1{
    margin-top: 450px;
    color: black;
    text-align: center;
    font-size: 3em;
    text-decoration: none;
    border-style: solid;
}
/*--------------------fin-----------*/
